
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello,</h1>
    <p>
      Your order was successfully placed to Jungle. Here are your order details:
      <%= @order %>
    <br>
    </p>
    <p>
      If you have any conerns just let us know.
    </p>
    <p>Thanks for your order and have a great day!</p>
  </body>
</html>